<div class="container">

  
  <h1 class="teamHeader"> TMS | Team Management System</h1>

  <div class="inputContainer">
    <h3 class="totalMembers">Total Members: {{ totalMembers }}</h3>
    <ul class="uL">
      <li *ngFor="let member of members"> {{ member }}</li>
    </ul>
  </div>

  <div class="actions">
    <input 
      #memberNameInput
      class="memberName"
      maxlength="50"
      (input)="onChangeInput(memberNameInput.value)" 
      placeholder="Name" />

    <button 
        class="addButton"
        (click)="addMember()">Add Member</button>
  </div>

  <div style="height: 30px;">
      <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>
  </div>

  
</div>